.padding {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}

.languageIcon {
	width: 50px !important;
}

.centerText {
	text-align: center !important;
}

.navbar-item.is-active {
	text-decoration: underline !important;
}

.navbarMargin {
	margin-top: 84px !important;
}

.centerImage {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}